
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <meta charset="UTF-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>WebSocket</title>
    <div th:include="common/common"></div>
</head>
<body>
<div id="main" class="containerDiv">


    <h2 id="connectMessage" style="text-align: center"></h2>
    <div  id="message" style="text-align: center"></div>
    <input type="hidden" th:value="${userId}" id="userId" />
    <input type="hidden" th:value="${username}" id="username" />

    <div style="padding-bottom: 20%"><input type="text" value="" id="sendMessage" />
        <button onclick="sendMessage()">发送</button>
    </div>
    <!--<div class="site-demo-button">-->
        <!--<button class="layui-btn site-demo-layim" data-type="chat">自定义会话</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="message">接受好友的消息</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="messageAudio">接受音频消息</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="messageVideo">接受视频消息</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="messageTemp">接受临时会话消息</button>-->

        <!--<br>-->

        <!--<button class="layui-btn site-demo-layim" data-type="add">申请好友</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="addqun">申请加群</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="addFriend">同意好友</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="addGroup">增加群组到主面板</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="removeFriend">删除主面板好友</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="removeGroup">删除主面板群组</button>-->

        <!--<br>-->
        <!--<button class="layui-btn site-demo-layim" data-type="setGray">置灰离线好友</button>-->
        <!--<button class="layui-btn site-demo-layim" data-type="unGray">取消好友置灰</button>-->
        <!--<a href="http://layim.layui.com/kefu.html" class="layui-btn site-demo-layim" target="_blank">客服模式</a>-->
        <!--<button class="layui-btn site-demo-layim" data-type="mobile">移动端版本</button>-->
    <!--</div>-->
</div>
</body>
<style type="text/css" >
    .containerDiv{
        padding-top: 5%;
        padding-right: 10%;
        padding-left: 10%;
    }
    .fontsize{
        font-size: 20px;
    }
</style>
<script type="text/javascript">
    var websocket = null;

    //判断当前浏览器是否支持WebSocket
    if ('WebSocket' in window) {
        websocket = new WebSocket("ws://192.168.2.70:8090/websocket/"+$("#userId").val());
    }
    else {
        alert('当前浏览器 不支持WebSocket')
    }

    //连接发生错误的回调方法
    websocket.onerror = function () {
        document.getElementById('connectMessage').innerHTML += "连接发生错误,请重试" + '<br/>';
    };

    //连接成功建立的回调方法
    websocket.onopen = function () {
        document.getElementById('connectMessage').innerHTML += "欢迎用户："+$("#username").val()+",连接成功" + '<br/>';
    }

    //接收到消息的回调方法，此处添加处理接收消息方法，当前是将接收到的信息显示在网页上
    websocket.onmessage = function (event) {
        setMessageInnerHTML(event.data);
    }

    //连接关闭的回调方法
    websocket.onclose = function () {
        setMessageInnerHTML("连接关闭,如需登录请刷新页面。");
    }
    function sendMessage(){
        var html = '<p class="fontsize" style="text-align: right">'+ $("#username").val()+'：'+ document.getElementById("sendMessage").value +'</p>'
        document.getElementById('message').innerHTML +=html;
        websocket.send(document.getElementById("sendMessage").value)
    }

    //监听窗口关闭事件，当窗口关闭时，主动去关闭websocket连接，防止连接还没断开就关闭窗口，server端会抛异常。
    window.onbeforeunload = function () {
        closeWebSocket();
    }

    //将消息显示在网页上，如果不需要显示在网页上，则不调用该方法
    function setMessageInnerHTML(innerHTML) {
        var html = '<p class="fontsize" style="text-align: left">'+ innerHTML+'</p>'
        document.getElementById('message').innerHTML += html;
    }
</script>
<script th:src="@{/js/chat/chat.js}"></script>
</html>